@{
    ViewData["Title"] = "About DevSlop";
}
<h2>@ViewData["DevSlop Modules"].</h2>
<h3>@ViewData["OWASP DevSlop Tool Project - Modules"]</h3>

<p><h3>OWASP DevSlop Modules</h3></p>

<p>
    DevSlop has different modules that make up the project.  You can use one, some, or all of them.  They are all maintained to function independantly of each other.
    <br>



    <h2><a asp-area="" asp-controller="Home" asp-action="Pixi_CRS">Pixi-CRS</a></h2>
    Details to follow on <a asp-area="" asp-controller="Home" asp-action="Pixi_CRS">Pixi-CRS</a>.  This module is lead by <strong>Franziska Bühler</strong>.
    <br><br>
    Code to be found <strong><a href="https://github.com/DevSlop/pixi-crs">here</a></strong>.<br><br>

    <h2><a asp-area="" asp-controller="Home" asp-action="Patty">Patty</a></h2>
    <strong>This website is</strong> the <a asp-area="" asp-controller="Home" asp-action="Patty">Patty</a> Module proof of concept!  Built with an Azure + ASP.Net Core DevSecOps pipeline, it releases
    <strong>this website/web app</strong> through the pipeline to demonstrate implemented security automation.
    Check out <a asp-area="" asp-controller="Home" asp-action="Patty">Patty</a>!
    This module is lead by <strong>Tanya Janca</strong>.
    <br><br>
    The Patty video series: <strong><a href="https://www.youtube.com/channel/UCyxbNw11fMUgoR3XpVYVPIQ">YouTube</a></strong>. 
    Code for the this website, Devslop.co, is <strong><a href="https://github.com/DevSlop/DevSlop.co">here</a></strong>.<br><br>

    <br><br>

    <h2><a asp-area="" asp-controller="Home" asp-action="Pixi">Pixi <img src="~/images/Pixi_logo.png" width="150" height="100" /></a></h2>
    DevSlop's <a asp-area="" asp-controller="Home" asp-action="Pixi">Pixi</a>, the first of many applications to come for this OWASP project, is currently publicly available for your
    hacking and learning pleasure. Pixi is available in several docker containers and consists of a vulnerable web app and
    API service.  The intent is to teach users how to test modern web applications and API's for security issues and how to
    write more secure API's in the future.  This module is lead by  This module is lead by <strong>Nicole Becher</strong>,
    with help from <strong>Mordecai Kraushar</strong> and <strong>Tanya Janca</strong>.
    <br><br>Code to be found <strong><a href="https://github.com/DevSlop/Pixi">here</a></strong>. <br>


</p>
