@{
    ViewData["Title"] = "DevSlop Patty Module";
}
<h3>@ViewData["OWASP DevSlop Patty Module"]</h3>
<br /> <br />
<h2>Patty</h2>
<p>OWASP DevSlop Pixi Module - A.K.A Patty The Pipeline</p>
<strong>This website is</strong> the <a href="~/Home/Patty.cshtml">Patty</a> Module proof of concept!  Built with an Azure + ASP.Net Core DevSecOps pipeline, it releases
<strong>this website/web app</strong> through the pipeline to demonstrate implemented security automation.  Most of the learning of this module will 
be done on the <a href="https://www.youtube.com/channel/UCyxbNw11fMUgoR3XpVYVPIQ">YouTube Video Series</a>, where 
<a href="https://aka.ms/SheHacksPurpleBlog">Tanya</a> and a friend will 
    Check out <a href="~/Home/Patty.cshtml">Patty</a>!
     This module is lead by <strong><a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a></strong>.
<br><br>
    The Patty video series: <strong><a href="https://www.youtube.com/channel/UCyxbNw11fMUgoR3XpVYVPIQ">YouTube</a></strong>.  <br><br />
    Code for the this website, Devslop.co, is <strong><a href="https://github.com/DevSlop/DevSlop.co">here</a></strong>.<br><br>
    Code for 'Patty the pipeline' only available as a JSON export, and is not fantastic for importing, 
    so we're not sharing it yet.  If you have an idea on how to share it please let us know.<br><br>



</p>
