@{
    ViewData["Title"] = "DevSlop Pixi Module";
}
<h3>@ViewData["OWASP DevSlop Pixi Module"]</h3>
<p>OWASP DevSlop Pixi Module</p>
<h2>Pixi</h2>
<p>OWASP DevSlop Pixi Module</p>
<img src="~/images/Pixi_logo.png" />
DevSlop's <a href="~/Home/Pixi.cshtml">Pixi</a>, the first of many applications to come for this OWASP project, is currently publicly available for your
hacking and learning pleasure. Pixi is available in several docker containers and consists of a vulnerable web app and
API service.  The intent is to teach users how to test modern web applications and API's for security issues and how to
write more secure API's in the future.  This module is lead by  This module is lead by <strong>Nicole Becher</strong>,
with help from <strong>Mordecai Kraushar</strong> and <strong>Tanya Janca</strong>.
<br><br>Code to be found <strong><a href="https://github.com/DevSlop/Pixi">here</a></strong>. <br><br>

Video demo of many of the Pixi Hacks <strong><a href="https://www.youtube.com/watch?v=td-2rN4PgRw&feature=youtu.be">here</a></strong>.<br><br>




</p>
