@{
    ViewData["Title"] = "Resources";
}
<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/devslop_high.png" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text">OWASP DevSlop Learning Resources</div>
            <div class="description line-2"> Learn DevSecOps with us!</div>
        </div>
    </div>
</div>

<h2>Resources created by the DevSlop Team</h2>

<br><br>The Patty videos series: <strong><a href="https://www.youtube.com/channel/UCyxbNw11fMUgoR3XpVYVPIQ">YouTube</a></strong>. <br>
 


<h2>Other Resources</h2>
