@{
    ViewData["Title"] = "About DevSlop";
}
<h2>@ViewData["About"].</h2>
<h3>@ViewData["OWASP DevSlop Tool Project"]</h3>

<p>OWASP DevSlop Tool Project</p>

<p>The hacker jungle gym built on DevOps disasters.
<br>
Modern applications often use APIs, microservices and containerization to deliver faster and better products 
    and services.   There has been a massive migration away from monolithic web applications to this new, 
    highly scalable architecture.  However, there are currently few training grounds for security testing 
    in these areas. In comes DevSlop, OWASP's newest project, a collection of DevOps-driven applications, 
    specifically designed to showcase security catastrophes and vulnerabilities for use in security testing, 
    software testing, learning and teaching for both developers and security professionals.
</p>
