@{
    ViewData["Title"] = "Contact OWASP DevSlop";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<h2> Team Leaders </h2>
<address>
    <strong>Nicole Becher:</strong> <a href="mailto:Nicole.Becher@owasp.org">Nicole.Becher@owasp.org</a><br />
    <strong>Tanya Janca:</strong> <a href="mailto:Tanya.Janca@owasp.org">Tanya.Janca@owasp.org</a>
    <strong>Imran Mohammed</strong> <a href="mailto:Imran.Mohammed@owasp.org">Imran.Mohammed@owasp.org</a>
</address>

<br> <br> 
<address>
    <strong>Twitter:</strong> <a href="https://twitter.com/Owasp_DevSlop">@OWASP_DevSlop</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/DevSlop">https://github.com/DevSlop</a>
    <strong>OWASP:</strong> <a href="https://www.owasp.org/index.php/OWASP_DevSlop_Project">DevSlop Wiki Page</a>
</address>
