@{
    ViewData["Title"] = "DevSlop DevSecOps Studio Module";
}
<h2>@ViewData["DevSecOps-Studio Module"].</h2>
<h3>@ViewData["OWASP DevSlop DevSecOps Studio Module"]</h3>

<p>OWASP DevSlop DevSecOps Studio Module</p>

    <h2>DevSecOps Studio</h2>
        Details to follow on <a href="~/Home/DevSecOps_Studio.cshtml">DevSecOps Studio</a>.  This module is lead by <strong>Imran “secfigo” Mohammed</strong>.
    <br><br>
    Code to be found <strong><a href="https://github.com/DevSlop/XXXXXXX">here</a></strong>.<br><br>
    
    
</p>