@{
    ViewData["Title"] = "About DevSlop";
}
<h2>@ViewData["DevSlop Modules"].</h2>
<h3>@ViewData["OWASP DevSlop Tool Project - Modules"]</h3>

<p>OWASP DevSlop Modules</p>

<p>DevSlop has different modules that make up the project.  You can use one, some, or all of them.  They are all maintained to function independantly of each other.
<br>

    <h2>Pixi</h2>
     <img src="~/images/Pixi_logo.png" />

    DevSlop's Pixi, the first of many applications to come for this OWASP project, is currently publicly available for your hacking and learning pleasure. Pixi is available in several docker containers and consists of a vulnerable web app and API service.  The intent is to teach users how to test modern web applications and API's for security issues and how to write more secure API's in the future.
<br>    Code to be found <strong><a href="https://github.com/DevSlop/Pixi">here</a></strong>.
  

    <h2>Pixi-CRS</h2>
    Details to follow
    <br>
    Code to be found <strong><a href="https://github.com/DevSlop/pixi-crs">here</a></strong>.
  

    <h2>Patty</h2>
    This website is the Patty Project!  Built with an Azure + ASP Core DevSecOps pipeline, it releases this website/web app through the pipeline to demonstrate implemented security automation.  
    <br>
    Code to be found <strong><a href="https://github.com/DevSlop/Patty">here</a></strong>.
   
    
    
</p>
