@{
    ViewData["Title"] = "DevSlop Patty Module";
}
<h2>@ViewData["Patty-the-Pipeline Module"].</h2>
<h3>@ViewData["OWASP DevSlop Patty Module"]</h3>

<p>OWASP DevSlop Pixi Module - A.K.A Patty The Pipeline</p>

    <strong>This website is</strong> the <a href="~/Home/Patty.cshtml">Patty</a> Module proof of concept!  Built with an Azure + ASP.Net Core DevSecOps pipeline, it releases 
    <strong>this website/web app</strong> through the pipeline to demonstrate implemented security automation.  
    Check out <a href="~/Home/Patty.cshtml">Patty</a>! 
     This module is lead by <strong>Tanya Janca</strong>.
    <br><br>
    Code to be found <strong><a href="https://github.com/DevSlop/Patty">here</a></strong>.<br><br>
   
    
    
</p>
