@{
    ViewData["Title"] = "DevSlop Pixi-CRS Module";
}
<h2>@ViewData["Pixi-CRS Module"].</h2>
<h3>@ViewData["OWASP DevSlop Pixi-CRS Module"]</h3>

<p>OWASP DevSlop Pixi-CRS Module</p>

    <h2>Pixi-CRS</h2>
    Details to follow on <a href="~/Home/Pixi-CRS.cshtml">Pixi-CRS</a>.  This module is lead by <strong>Franziska Bühler</strong>.
    <br><br>
    Code to be found <strong><a href="https://github.com/DevSlop/pixi-crs">here</a></strong>.<br><br>
  
    
    
</p>
