@{
    ViewData["Title"] = "Resources";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/devslop_high.png" />
    </div>
    <div class="content">
               <div class="content-body">
            <div class="success-text">OWASP DevSlop Learning Resources</div>
            <div class="description line-1"> The hacker jungle gym built on DevOps disasters.</div>
            <div class="description line-2"> Learn DevSecOps with us!</div>
        </div>
    </div>
</div>


<h2>Resources created by the DevSlop Team</h2>



<h2>Other Resources</h2>
