@{
@{
    ViewData["Title"] = "Schedule";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/devslop_high.png" />
    </div>
    <div class="content">
               <div class="content-body">
            <div class="success-text">OWASP DevSlop Speaking and Teaching Schedule</div>
            <div class="description line-1"> The hacker jungle gym built on DevOps disasters.</div>
            <div class="description line-2"> Learn DevSecOps with us!</div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Check out the project modules </h2>
        <p>
            We have many different parts to our project, called <a href="~/Modules.cshtml">Modules</a>, figure out which one works for you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Meet the DevSlop Team</h2>
        <p>We have a fantastic group of individuals on our <a href="~/Team.cshtml">team</a>, all passionate about software security.</p>
    </div>
    <div class="col-md-4">
        <h2>Learn from us!</h2>
        <p>Find out more about what DevSlop can teach you. (coming soon)</p>
    </div>
</div>